In [2]:
url="https://s3.us-east-2.amazonaws.com/datafaculty/bootcamp/membership.csv"

In [3]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv(url)

In [5]:
data.head()

,MEMBERSHIP_NUMBER,MEMBERSHIP_TERM_YEARS,ANNUAL_FEES,MEMBER_MARITAL_STATUS,MEMBER_GENDER,MEMBER_ANNUAL_INCOME,MEMBER_OCCUPATION_CD,MEMBERSHIP_PACKAGE,MEMBER_AGE_AT_ISSUE,ADDITIONAL_MEMBERS,PAYMENT_MODE,AGENT_CODE,MEMBERSHIP_STATUS,START_DATE (YYYYMMDD),END_DATE (YYYYMMDD)
0,A00001,29,113125.0,M,M,25200000.0,1.0,TYPE-B,45,2,ANNUAL,477,INFORCE,20060914,NaN
1,A00002,38,112220.0,M,M,10339200.0,1.0,TYPE-B,36,3,QUARTERLY,255,INFORCE,20061102,NaN
2,A00003,12,100000.0,M,M,14400000.0,1.0,TYPE-B,42,1,ANNUAL,7866,INFORCE,20070124,NaN
3,A00004,12,100000.0,M,M,9000000.0,1.0,TYPE-B,39,2,ANNUAL,200533,INFORCE,20070122,NaN
4,A00005,46,100000.0,M,M,4800000.0,1.0,TYPE-B,27,2,QUARTERLY,6988,INFORCE,20070131,NaN

In [8]:
data=data.drop(['MEMBERSHIP_NUMBER','AGENT_CODE'],axis=1)

In [9]:
data.head()

,MEMBERSHIP_TERM_YEARS,ANNUAL_FEES,MEMBER_MARITAL_STATUS,MEMBER_GENDER,MEMBER_ANNUAL_INCOME,MEMBER_OCCUPATION_CD,MEMBERSHIP_PACKAGE,MEMBER_AGE_AT_ISSUE,ADDITIONAL_MEMBERS,PAYMENT_MODE,MEMBERSHIP_STATUS,START_DATE (YYYYMMDD),END_DATE (YYYYMMDD)
0,29,113125.0,M,M,25200000.0,1.0,TYPE-B,45,2,ANNUAL,INFORCE,20060914,NaN
1,38,112220.0,M,M,10339200.0,1.0,TYPE-B,36,3,QUARTERLY,INFORCE,20061102,NaN
2,12,100000.0,M,M,14400000.0,1.0,TYPE-B,42,1,ANNUAL,INFORCE,20070124,NaN
3,12,100000.0,M,M,9000000.0,1.0,TYPE-B,39,2,ANNUAL,INFORCE,20070122,NaN
4,46,100000.0,M,M,4800000.0,1.0,TYPE-B,27,2,QUARTERLY,INFORCE,20070131,NaN

In [10]:
data.columns

Index(['MEMBERSHIP_TERM_YEARS', 'ANNUAL_FEES', 'MEMBER_MARITAL_STATUS',
       'MEMBER_GENDER', 'MEMBER_ANNUAL_INCOME', 'MEMBER_OCCUPATION_CD',
       'MEMBERSHIP_PACKAGE', 'MEMBER_AGE_AT_ISSUE', 'ADDITIONAL_MEMBERS',
       'PAYMENT_MODE', 'MEMBERSHIP_STATUS', 'START_DATE (YYYYMMDD)',
       'END_DATE  (YYYYMMDD)'],
      dtype='object')

In [12]:
data=data.drop(['START_DATE (YYYYMMDD)','END_DATE  (YYYYMMDD)'],axis=1)

In [13]:
data.columns

Index(['MEMBERSHIP_TERM_YEARS', 'ANNUAL_FEES', 'MEMBER_MARITAL_STATUS',
       'MEMBER_GENDER', 'MEMBER_ANNUAL_INCOME', 'MEMBER_OCCUPATION_CD',
       'MEMBERSHIP_PACKAGE', 'MEMBER_AGE_AT_ISSUE', 'ADDITIONAL_MEMBERS',
       'PAYMENT_MODE', 'MEMBERSHIP_STATUS'],
      dtype='object')

In [14]:
data.isnull().sum()

MEMBERSHIP_TERM_YEARS       0
ANNUAL_FEES                 0
MEMBER_MARITAL_STATUS    2597
MEMBER_GENDER             611
MEMBER_ANNUAL_INCOME     1754
MEMBER_OCCUPATION_CD       43
MEMBERSHIP_PACKAGE          0
MEMBER_AGE_AT_ISSUE         0
ADDITIONAL_MEMBERS          0
PAYMENT_MODE                0
MEMBERSHIP_STATUS           0
dtype: int64

In [15]:
data['MEMBER_MARITAL_STATUS'].value_counts()

M    6430
S    1144
W     146
D      45
Name: MEMBER_MARITAL_STATUS, dtype: int64

In [16]:
data['MEMBER_MARITAL_STATUS']=data['MEMBER_MARITAL_STATUS'].fillna('Missing')

In [17]:
data['MEMBER_GENDER']=data['MEMBER_GENDER'].fillna("Missing")

In [18]:
data['MEMBER_OCCUPATION_CD'].unique()

array([ 1.,  4.,  5.,  6., nan,  2.,  3.])

In [19]:
data['MEMBER_OCCUPATION_CD'].value_counts()

1.0    7281
2.0    1778
6.0     728
5.0     324
4.0     207
3.0       1
Name: MEMBER_OCCUPATION_CD, dtype: int64

In [22]:
ind_m=data[data['MEMBER_OCCUPATION_CD'].isnull()].index

In [24]:
data.shape

(10362, 11)

In [25]:
data=data.drop(ind_m,axis=0)

In [26]:
data.isnull().sum()

MEMBERSHIP_TERM_YEARS       0
ANNUAL_FEES                 0
MEMBER_MARITAL_STATUS       0
MEMBER_GENDER               0
MEMBER_ANNUAL_INCOME     1730
MEMBER_OCCUPATION_CD        0
MEMBERSHIP_PACKAGE          0
MEMBER_AGE_AT_ISSUE         0
ADDITIONAL_MEMBERS          0
PAYMENT_MODE                0
MEMBERSHIP_STATUS           0
dtype: int64

In [27]:
data['MEMBER_ANNUAL_INCOME'].describe()

count    8.589000e+03
mean     1.451762e+06
std      1.759114e+07
min      9.996000e+03
25%      3.999960e+05
50%      5.499960e+05
75%      9.999960e+05
max      1.000000e+09
Name: MEMBER_ANNUAL_INCOME, dtype: float64

In [29]:
data['MEMBER_ANNUAL_INCOME']=data['MEMBER_ANNUAL_INCOME'].fillna(5.499960e+05)

In [30]:
data.isnull().sum()

MEMBERSHIP_TERM_YEARS    0
ANNUAL_FEES              0
MEMBER_MARITAL_STATUS    0
MEMBER_GENDER            0
MEMBER_ANNUAL_INCOME     0
MEMBER_OCCUPATION_CD     0
MEMBERSHIP_PACKAGE       0
MEMBER_AGE_AT_ISSUE      0
ADDITIONAL_MEMBERS       0
PAYMENT_MODE             0
MEMBERSHIP_STATUS        0
dtype: int64

In [31]:
## Label encode categorical variables
import sklearn.preprocessing as preprocessing

In [32]:
le=preprocessing.LabelEncoder()

In [38]:
data['MEMBER_MARITAL_STATUS']=le.fit_transform(data['MEMBER_MARITAL_STATUS'])